<h1>Orders#index</h1>
<% @orders.each do |order| %>
  <p>Name: <%= order.name %></p>
  <p>Email: <%= order.email %></p>
  <p>Order Items: </p>
 
    <% order.order_items.each do |item| %>
    <%= item.quantity %> x <%= item.product.name %>
    <% end %>

<% end %>
