
<h1> Our Farmers </h1>


        <% @farmers.each do |farmer| %>
        
        <h3><%=link_to farmer.name, farmer_path(farmer.id) %></h3>
        <p>Business Name: <%=farmer.name %></p>
        <p>About this farmer: <%=farmer.about%></p>


        <% end %>


