

        <%= image_tag @farmers.photos if @farmers.photos.attached? %>
        <h3>Business Name: <%=@farmers.name%></h3>
        <p>About this farmer: <%=@farmers.about%></p>
        
        
          
    
          
