
       
        <% @farmers.photo.each do |farmer| %>
        <%= image_tag @farmer.photo.representation if @farmer.photo.attached? %>
        <%end%>
        <h3>Business Name: <%=@farmer.name%></h3>
        <p>About this farmer: <%=@farmer.about%></p>
      
        
          
    
          
