

<h1> Search Results <h1>
  <section class="row card-row-cols-1 row-cols-md-3">
        <% @products.each do |product| %>
        <% if user_signed_in? and current_user.id==product.user_id %>
        <!-- Prevents a farmer viewing thier own product as a purchaser, farmer can go to thier products page to view thier current products and edit-->
            <%else%>
       
             <div class="container px-4 px-lg-5 mt-5">
                <div class="justify-content-center">
                    <div class="col-mb-4">
                        <div class="card h-100">
                            <!-- Product image-->
                            <%= image_tag product.productpic.representation(resize_to_limit: [190, 160]).processed, :crop => :fill if product.productpic.attached? %>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder"><%=product.name%></h5>
                                    <!-- Product price-->
                                   <p>$<%=product.price %></p>
                                </div>
                            </div>
                        
                            <div class="text-center"><%= button_to "Add to cart", line_items_path(:product_id => product.id), :class => "btn btn-outline-dark mt-auto" %>
                            
                                    </div>
                            </div>
                        </div>
                    </div>
                        </div>
                    </div>
                      <% end %>
             <% end %>
                </div>
            </div>
          